/ClienteEscritorioCuponSmart/nbproject/private/

*.class
/ClienteEscritorioCuponSmart/build/

/ClienteEscritorioCuponSmart/src/mybatis/mybatis-config.xml
/ClienteEscritorioCuponSmart/dist/
APICuponSmart/build/web/WEB-INF/classes/mybatis/mybatis-config.xml
*.zip
*.class
*.class
APICuponSmart/nbproject/private/private.xml
APICuponSmart/src/java/ws/ApplicationConfig.java
*.class
