<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">

    <select id="mostrarClientePorId" resultType="modelo.pojo.Clientes" parameterType="int">
        SELECT
            idCliente,
            nombre,
            apellidoPaterno,
            apellidoMaterno,
            telefono,
            direccion,
            correoElectronico,
            fechaNacimiento,
            contrasenia,
        FROM clientes
        WHERE idCliente = #{idCliente}
    </select>

    <insert id="registrarCliente" parameterType="modelo.pojo.Clientes">
        INSERT INTO clientes
        (
            nombre,
            apellidoPaterno,
            apellidoMaterno,
            telefono,
            direccion,
            correoElectronico,
            fechaNacimiento,
            contrasenia,
        )
        VALUES
        (
            #{nombre},
            #{apellidoPaterno},
            #{apellidoMaterno},
            #{telefono},
            #{direccion},
            #{correoElectronico},
            #{fechaNacimiento},
            #{contrasenia},
        )
    </insert>

    <update id="editarCliente" parameterType="map">
        UPDATE clientes
        SET
            nombre = #{nombre},
            apellidoPaterno = #{apellidoPaterno},
            apellidoMaterno = #{apellidoMaterno},
            telefono = #{telefono},
            fechaNacimiento = #{fechaNacimiento},
            contrasenia = #{contrasenia},
        WHERE idCliente = #{idCliente}
    </update>

    <delete id="eliminarCliente" parameterType="int">
        DELETE FROM clientes
        WHERE idCliente = #{idCliente}
    </delete>


</mapper>

