<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empresa">
    
    
   <select id="mostrarTodasEmpresas" resultType="modelo.pojo.Empresas">
       SELECT idEmpresa, nombre, nombreComercial, representanteLegal, email, telefono, paginaWeb, RFC, estatus 
       FROM empresas
   </select>


   <select id="mostrarEmpresaPorEmail" resultType="modelo.pojo.Empresas" parameterType="String">
       SELECT idEmpresa, nombre, nombreComercial, representanteLegal, email, telefono, paginaWeb, RFC, estatus,direccion,codigoPostal,ciudad 
       FROM empresas 
       WHERE email = #{email}
   </select>


   <select id="mostrarEmpresaPorRFC" resultType="modelo.pojo.Empresas" parameterType="String">
       SELECT idEmpresa, nombre, nombreComercial, representanteLegal, email, telefono, paginaWeb, RFC, estatus,direccion,codigoPostal,ciudad 
       FROM empresas 
       WHERE RFC = #{RFC}
   </select>


   <select id="mostrarEmpresaPorId" resultType="modelo.pojo.Empresas" parameterType="int">
       SELECT idEmpresa, nombre, nombreComercial, representanteLegal, email, telefono, paginaWeb, RFC, estatus,direccion,codigoPostal,ciudad 
       FROM empresas 
       WHERE idEmpresa = #{idEmpresa}
   </select>


   <insert id="registrarEmpresa" parameterType="modelo.pojo.Empresas">
       INSERT INTO empresas (nombre, nombreComercial, representanteLegal, email, telefono, paginaWeb, RFC, estatus,direccion,codigoPostal,ciudad) 
       VALUES 
       (#{nombre}, #{nombreComercial}, #{representanteLegal}, #{email}, #{telefono}, #{paginaWeb}, #{RFC}, #{estatus},#{direccion},#{codigoPostal},#{ciudad})
   </insert>

   <update id="editarEmpresa" parameterType="modelo.pojo.Empresas">
       UPDATE empresas 
       SET 
       nombre=#{nombre}, nombreComercial=#{nombreComercial},representanteLegal=#{representanteLegal}, telefono=#{telefono}, paginaWeb=#{paginaWeb}, estatus=#{estatus},direccion=#{direccion}, codigoPostal=#{codigoPostal}, ciudad=#{ciudad}
       WHERE idEmpresa = #{idEmpresa}
   </update>

    <delete id="eliminarEmpresas" parameterType="int">
        DELETE FROM empresas 
        WHERE idEmpresa=#{idEmpresa}
    </delete>

    <update id="guardarLogoEmpresa" parameterType="map">
        UPDATE empresas 
        SET logo=#{logo} 
        WHERE idEmpresa=#{idEmpresa}
    </update>

    <select id="obtenerLogoEmpresa" parameterType="int" resultType="modelo.pojo.Empresas">
        SELECT idEmpresa, nombre, nombreComercial, TO_BASE64(logo) as 'logoBase64' 
        FROM empresas 
        WHERE idEmpresa=#{idEmpresa}
    </select>
    
    
    
    
</mapper>